html,
body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #333333;
    text-transform: uppercase;

    background-color:  #f2f2f2;
}

a {
    text-decoration: none;
}

/*
img {
    max-width: 100%;
    height: auto;
}
*/

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
    position: relative;
    min-height: 100%;

    width: 1200px;
    margin: 0 auto;

    background-color: #ffffff;
    box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

/*-----Main_Header-----*/

.main-header {
    position: relative;

    line-height: 26px;        
    color: #000000;
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: space-around; 
    flex-wrap: wrap;
    margin: 0;
    padding: 0;


    list-style: none;
}

.nav-item {
    display: flex;
    align-items: center;
    justify-content: space-around;
  
    width: 239px;
    height: 1px;
    min-height: 56px;   
}

.main-header-logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;

    width: 140px;
    height: 71px;
}

.nav-list li:nth-child(3) {
    margin-left: 244px;
}

.nav-list li:nth-child(3n) {
    text-align: right;
}

.nav-list li:nth-child(4n) {
    text-align: right;
}

.nav-list a {
    color: #000000;
    font-weight: bold;
}

.nav-list a:hover {
    color: #81b3d2;
}

.nav-list a:focus {
    color: rgba(0, 0, 0, 0.3);
}

.current a {
    color: #766357;
}





/*-----Main-----*/

.welcome-picture {
    position: relative;
    height: 508px;

    background-color: #c2dcf5;
    background-image:
    url("../img/intro-mask.svg"),
    url("../img/background-photo.jpg");
    background-position:
    0 101%,
    0 28%;
    background-repeat:
    no-repeat;
}

.welcome-picture img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*-----FEATURES-----*/

.features-header {
    padding: 60px 290px 50px 290px;

    line-height: 26px;
    text-align: center;
}

.features-header h2 {
    margin: 0;
    margin-bottom: 27px;

    font-size: 21px;
    font-weight: 700;
    color: #000000;
}


.feature-item-blue h3, p {
    margin: 0;
}

.feature-item-blue {
    display: flex;
    align-items: center;

    color: #ffffff;    
    text-align: center;
}

.feature-picture img {
    display: block;
}

.feature-title {
    font-size: 21px;
}

.feature-item-desc {
    padding: 47px 48px 60px 48px;
}

.feature-item-desc-blue {
    background-color: #81b3d2;
}
    

.feature-item-desc h3 {
    margin-bottom: 25px;
    margin-left: 35px;
    margin-right: 35px;
    padding: 0 40px;
}

.feature-number {
    display: block;
    margin-bottom: 21px;
}

.feature-picture {
    width: 800px;
    height: 256px;
}





.features-list-white {
    display: flex;
    align-items: center;
    
    
    margin: 0;
    padding: 162px 0 80px 0;
}

.features-list-white,
.features-list-grey h3 {
    color: #000000;
}

.features-list-white,
.features-list-grey {
    text-align: center;
}

.features-list-white,
.features-list-grey li {
    list-style: none;
}

.feature-item {
    width: 400px; 
}

.features-list-white p {
    margin: 0 50px;
}

.feature-item h3 {
    position: relative;

    margin: 0;  
    margin-bottom: 25px;    
}



.feature-item h3:first-child::before {
    content: "";

    position: absolute;
    bottom: 50px;
    left: 162px;

    width: 75px;
    height: 72px;

    background-image: url("../img/icon-1.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.feature-item h3:nth-child(2)::before {
    content: "";

    position: absolute;
    bottom: 60px;
    left: 162px;

    width: 74px;
    height: 70px;

    background-image: url("../img/icon-3.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.feature-item h3:nth-child(3)::before {
    content: "";

    position: absolute;
    bottom: 60px;
    left: 162px;

    width: 64px;
    height: 76px;

    background-image: url("../img/icon-2.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.features-list-grey {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;

    background-color: #eeeeee;
}

.features-list-grey li {
    list-style: none;
}

.features-list h3 {
    font-size: 21px;
}

.feature-item-desc-grey {
    width: 400px;
    padding-left: 68px;
    padding-right: 68px;
    padding-top: 24px;
}

.map img {
    display: block;
    width: 1200px;
    height: 593px;
}

.map iframe {
    display: block;
}



.map iframe {
    position: relative;
    z-index: 2;

    border: none;
}

.map p {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}






/*-----Search_Form-----*/

.search-hotel {
    position: relative;
}

.search-hotel-header {
    margin-bottom: 80px;
    padding: 50px;
}

.search-hotel-header h2 {
    margin: 0;
    margin-bottom: 21px;

    font-size: 30px;
    text-align: center;
    line-height: 36px;
    color: #000000;
    font-weight: bold;
}

.search-hotel-text { 
    text-align: center;
    line-height: 24px;    
}

.form-wrapper {
    z-index: 3;

    position: absolute;    
    top: 200px;
    left: 50%;
    transform: translateX(-50%);

    width: 569px;
}

.search-form {
    padding: 56px;

    background-color: #ffffff;
    box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
}

.header-button,
.search-button {
    display: block;

    font-size: 21px;
    text-align: center;
    line-height: 26px;
    font-weight: bold;
    color: #ffffff;

    list-style: none;
}

.header-button {
    padding: 30px;

    background-color: #766357;
}

.header-button:hover {
    background-color: #604e43;
}

.header-button:focus {    
    color: rgba(255, 255, 255, 0.3);

    background-color: #503e33;
}

.search-form p {
    margin: 0;
    margin-bottom: 30px;
}

.guests-wrapper p {
    margin-bottom: 54px;
}





.search-form input[type=text] {
    box-sizing: border-box;

    font: inherit;
    font-weight: bold;
    text-transform: uppercase;

    background-color: #f2f2f2;
    border: none;
}

.search-item-date input[type=text] {
    padding: 8px 13px;
    padding-right: 40px;
}

.search-item-guests input[type=text] {
    padding: 8px 13px;
}

.search-item label {
    font-weight: bold;
}

.search-item-date input[type=text] {
    width: 346px;
}

.search-item-guests input[type=text] {
    width: 38px;
}

.search-item-guests input [type=text] {
    text-align: center;
}

.search-item-date input:hover {
    background-color: #ebebeb;
}

.search-item-date input:focus {
    background-color: #ffffff;

    border: solid 2px #e5e5e5;;
}

.calendar-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.calendar-button:hover path {
    fill: #000000;
}

.calendar-button:focus path {
    fill: #81b3d2;
}

.guests-button {
    width: 38px;
    height: 38px;

    background-color: #f2f2f2;
    border: none;
    cursor: pointer;
}

.more-button::before,
.more-button::after {
    content: "";

    position: absolute;

    width: 11px;
    height: 3px;

    background-color: #cacaca;
}

.more-button::before {
    transform: rotate(90deg);
}

.less-button::before {
    content: "";    
   
    position: absolute;

    width: 12px;
    height: 3px;

    background-color: #cacaca;
}

.guests-button:hover::before,
.guests-button:hover::after {
    background-color: #231f20;
}

.guests-button:focus::before,
.guests-button:focus::after {
    background-color: #81b3d2;
}

.search-button {
    width: 100%;
    margin-right: 0;
    padding: 17px;

    text-transform: uppercase;

    background-color: #81b3d2;
    border: none;
}

.search-button:hover {
    background-color: #669ec0;    
}

.search-button:focus {
    color: rgba(255, 255, 255, 0.3);

    background-color: #5496bd;
}

.check-in {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.check-out {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.guests-wrapper {
    display: flex;
    justify-content: space-between;
}

.adults-guests {
    display: flex;
    justify-content: space-between;  
   
    align-items: center;
}

.children-guests {
    display: flex;
    justify-content: space-between;
    
    align-items: center;
    margin-right: 0 auto;
}

.check-in {
    position: relative;
}

.check-in-button {
    position: absolute;
    top: 6px;
    right: 4px;
}

.check-out {
    position: relative;
}

.check-out-button {
    position: absolute;
    top: 6px;
    right: 4px;
}

.less-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.more-button {
    display: flex;
    align-items: center;
    justify-content: center;
}




/*-----Katalog-----*/

/*-----Filter-----*/

.filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 1200px;
    min-height: 217px;

    background-color: #669ec0;
    background-image: url("../img/filter-background.jpg");
    background-position: center;
    background-repeat: no-repeat;

    outline: 2px solid #ffffff;
}

.filter fieldset {
    min-height: 217px;
    border: none;
}

.filter-options {
    padding: 0;
    margin-left: 72px;
}

.filter legend {
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
    color: #ffffff;
    text-align: left;

    margin-left: 72px;

}

.filter li {
    color: #ffffff;

    list-style: none;
}

.filter-wrapper {
    margin-left: 250px;
}

.filter-range {
    color: #ffffff;
}

.price-controls label{
    color: #ffffff;
}

.price-controls input {
    background: none;
}

.filter-button {
    color: #ffffff;
    border: solid 2px;
    text-transform: uppercase;

    background-color: transparent;
}

.filter-button:hover {
    color: #000000;
    border: 2px solid #ffffff;

    background-color: #ffffff;
}

/*-----Sort-----*/

.catalog-sort {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    min-height: 86px;
}

.catalog-sort ul {
    list-style: none;
}

.catalog-sort a {
    font-size: 12px;
    line-height: 18px;
    text-align: left;
    color: rgba(0, 0, 0, 0.3);

    list-style: none;

    text-decoration: none;
    border-bottom: 1px dashed #81b3d2;
}

.sort-title {
    margin: 0;
    padding: 0;
    padding-left: 45px;

    font-size: 12px;
    line-height: 18px;
    text-align: left;

    list-style: none;
}

.sort-list-type {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;

    list-style: none;
}

.catalog-sort-item {
    padding-left: 40px;
}

.sort-list-ascending {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    padding-left: 300px;

    list-style: none;
}

.found {
    margin-left: 72px;

    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
}

.catalog-sort a:hover {
    color: #81b3d2;
}

.catalog-sort a:focus {
    color: #000000;

    border-bottom: none;
}

.sort-link-current {
    color: #81b3d2;
}

/*-----Katalog_Hotels-----*/

.catalog-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-left: 72px;
}

.catalog-list {
    padding: 0;
    margin: 0;

    list-style: none;
}

.catalog-list a {
    margin-right: 10px;

    color: 21px;
    line-height: 26px;
    text-align: left;
    color: #000000;
}

.hotel-desc {
    width: 700px;
    padding: 31px;
}

.hotel-price {
    display: flex;
    flex-direction: row;
}

.hotel-booking {
    display: flex;
    flex-direction: row; 
}

.hotel-title {
    margin: 0;
    padding: 0;
}

.catalog-item p {
    margin: 0;
}

.hotel-title a:hover {
    color: #81b3d2;
}

.hotel-title a:focus {
    color: rgba(0, 0, 0, 0.3);
}

.catalog-item-price {
    padding-left: 6px;
}

.catalog-item-booking {
    margin-left: 6px;
}

.catalog-item-details a {
    color: #ffffff;
    font-weight: 700;

    background-color: #81b3d2;
}

.catalog-item-details a:hover {
    background-color: #669ec0;
}

.catalog-item-details a:focus {
    background-color: #5496bd;
}

.catalog-item-booking a {
    color: #ffffff;
    font-weight: 700;
    background-color: #766357;
}

.catalog-item-booking a:hover {
    background-color: #604e43;
}

.catalog-item-booking a:focus {
    background-color: #503e33;
}

.rating-score {
    color: #666666;

    background-color: #f2f2f2;
}



/*-----Footer-----*/

.home-page-footer {
    position: absolute;
    left: 0;
    bottom: 0;
}

.main-footer {
    z-index: 4;

    display: flex;
    align-items: center;
    width: 100%;
    min-height: 120px;
    height: 1px;

    background-color: rgba(255, 255, 255, 0.9);
}

.main-footer a {  
    color: #000000;
}

.main-footer p {
    margin: 0;
    
}

.footer-contacts {
    width: 400px;

    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    color: #000000;
}

.footer-contacts a {
    display: block;
    margin-left: 90px;
}



.footer-social {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    width: 400px;
    padding: 0;
    margin: 0 auto;

    list-style: none;
}

.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 48px;
    margin: 0 3px;

    background-color: #81b3d2;
}

.social-button:hover {
    background-color: #669ec0;
}

.social-button:focus {
    background-color: #5496bd;
}

.social-button:focus path {
    opacity: 0.3;
}

.footer-copyright {
    width: 400px;

    line-height: 26px;
    color: #000000;
    text-align: center;
}

.copyright-button {
    display: inline-block;
    vertical-align: middle;
    width: 115px;
    height: 41px;
}

.copyright-button:hover path {
    fill: #81b3d2;
}

.copyright-button:focus path {
    fill: #bdbbbc;
}

