body {
    margin: 0;
    padding: 0;

    font-family: "PT Sans", Arial, sans-serif;

    font-size: 14px;
    line-height: 21px;
    color: #333333;
    text-transform: uppercase;

    background-color:  #f2f2f2;
}

a {
    text-decoration: none;
}

.container {
    background-color: #ffffff;

    box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

.nav {
    line-height: 26px;
    color: #000000;    
}

.nav-list {
    list-style: none;

    text-align: center;
}

.nav-list a {
    color: #000000;
    font-weight: 700;

}

.nav-list a:hover {
    color: #81b3d2;
}

.nav-list a:focus {
    color: rgba(0, 0, 0, 0.3);
}

.nav-item-current a {
    color: #766357;
}

.welcome-picture {
    background-color: #c2dcf5;
    background-image: url("../img/background-photo.jpg");
    background-position: top;
    background-repeat: no-repeat;
}

.features-title {
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
    color: #000000;
}

.features-text {
    font-size: inherit;
    line-height: 26px;
    font-weight: 400;
    text-align: center;
}

.feature-title {
    font-size: 21px;
}
.feature-item-blue {
    color: #ffffff;
    
   background-color: #81b3d2;
    text-align: center;
}

.features-list-white,
.features-list-grey h3 {

    color: #000000;
}

.features-list-white li {
    list-style: none;
}

.features-list-grey li {
    list-style: none;
}

.features-list-white,
.features-list-grey {
    text-align: center;
}

.features-list h3 {
    font-size: 21px;
}

.features-list-white,
.feature-item-grey h3 {
    color: #000000;
}

.features-list-grey {
    background-color: #eeeeee;
}

/*Каталог*/

.filter {
    background-color: #669ec0;
    background-image: url("../img/filter-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

.filter fieldset {
    border: none;
}

.filter legend {
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
    color: #ffffff;
    text-align: left;
}

.filter li {
    list-style: none;
}

.filter li {
    color: #ffffff;
}

.filter-range {
    color: #ffffff;
}

.price-controls label{
    color: #ffffff;
}

.price-controls input {

    background: none;
}

.filter-button {
    color: #ffffff;
    border: solid 2px;
    text-transform: uppercase;

    background-color: transparent;
}

.filter-button:hover {
    color: #000000;
    border: 2px solid #ffffff;

    background-color: #ffffff;
}

.catalog-sort ul {
    list-style: none;
}

.catalog-sort a {
    list-style: none;

    text-decoration: none;
    border-bottom: 1px dashed #81b3d2;

    font-size: 12px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.3);
}

.found {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
}

.catalog-sort a:hover {
    color: #81b3d2;
}

.catalog-sort a:focus {
    color: #000000;

    border-bottom: none;
}

.sort-link-current {
    color: #81b3d2;
}

.catalog-list {
    list-style: none;
}

.catalog-list a {
    color: 21px;
    line-height: 26px;
    text-align: left;
    color: #000000;
}

.hotel-title a:hover {
    color: #81b3d2;
}

.hotel-title a:focus {
    color: rgba(0, 0, 0, 0.3);
}

.catalog-item-details a {
    color: #ffffff;
    font-weight: 700;

    background-color: #81b3d2;
}

.catalog-item-details a:hover {
    background-color: #669ec0;
}

.catalog-item-details a:focus {
    background-color: #5496bd;
}

.catalog-item-booking a {
    color: #ffffff;
    font-weight: 700;
    background-color: #766357;
}

.catalog-item-booking a:hover {
    background-color: #604e43;
}

.catalog-item-booking a:focus {
    background-color: #503e33;
}

.rating-score {
    color: #666666;

    background-color: #f2f2f2;
}

.visually-hidden {
    display: none;
}

/*Попапы и всплывающие элементы сейчас стилизовать не нужно.
Скройте их с помощью display: none. Мы вернёмся к ним в седьмом разделе.*/
.search-form {
    display: none;
}


.main-footer a {
    color: #000000;
}

.footer-contacts {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
}

.footer-social li {
    list-style: none;
}

.social-button {
    color: #ffffff;

    background-color: #81b3d2;
}

.footer-copyright {
    line-height: 26px;
    color: #000000;
}





/*----Сеточные стили----*/

html,
body {
    min-width: 1280px;
    min-height: 1750px;
}

.container {
    margin-right: 40px;
    margin-left: 40px;
}

.main-header {
    display: flex;

    /*Временно для сетки*/
    min-height: 56px;    
}

.nav {
    display: flex;

    /*Временно для сетки*/
    min-height: 56px;
}


.main-header-logo {
    order: 0;
    height: 56px;
}

.nav-list {
    display: flex;

    margin: 0;
    padding: 0;
    list-style: none;

    /*----Временно для сетки----*/
    min-height: 56px;
}

.welcome-picture {
    padding-left: 370px;
    padding-top: 132px;

    min-height: 564px;
}

.features-header {
    padding-left: 355px;
    padding-right: 356px;

    min-height: 216px;
}

.features-title {
    padding-top: 61px;
    padding-bottom: 19px;

    min-height: 48px;
}

.features-text {
    padding-top: 19px;
    padding-bottom: 56px;

    min-height: 13px;
}

.feature-item-blue {
    display: flex;

    /*----Временно для сетки----*/
    min-height: 256px;
}

.features-list-white {
    display: flex;

    margin: 0;
    padding: 0;

    list-style: none;

    /*----Временно для сетки----*/
    min-height: 330px;
}

.feature-item {
    width: 400px;
    
    /*----Временно для сетки----*/
    min-height: 330px;
}

.feature-item-desc {
    width: 400px;

    /*----Временно для сетки----*/
    min-height: 256px;
}

.feature-picture {
    width: 800px;
    
    /*----Временно для сетки----*/
    min-height: 256px;

}




.features-list-grey {
    display: flex;
    justify-content: space-between;

    margin: 0;
    padding: 0;

    list-style: none;

    /*----Временно для сетки----*/
    min-height: 256px;
}


/*----Сетка каталога----*/

.filter {
    display: flex;
    justify-content: space-between;

    padding-top: 31px;
    padding-right: 72px;
    padding-left: 72px;
    padding-bottom: 31px;

    /*----Временно для сетки----*/
    min-height: 217px;
}

.filter ul {
    padding: 0;
    margin: 0;

    list-style: none;
}


.catalog-sort {
    display: flex;
    justify-content: space-between;

    margin-left: 72px;
    margin-right: 72px;
    margin-top: 31px;

}

.sort-title {
    margin: 0;
    padding: 0;

    list-style: none;
}

.sort-list-type {
    margin: 0;
    padding: 0;

    list-style: none;
}

.sort-list-ascending {
    margin: 0;
    padding: 0;

    list-style: none;
}


.catalog-hotels {

    /*----Временно для сетки----*/
    min-height: 90px;

}

.catalog-item {
    display: flex;

    margin-left: 72px;
    margin-right: 72px;
    margin-top: 30px;
    margin-bottom: 30px;

    /*----Временно для сетки----*/
    min-height: 90px;
}

.catalog-list {
    padding: 0;
    margin: 0;

    list-style: none;
}

.hotel-title {
    margin: 0;
    padding: 0;

    /*----Временно для сетки----*/
    min-height: 16px;
}

.hotel-desc {
    margin-left: 30px;

}

.hotel-price {
    display: flex;
    justify-content: space-between;

}

.hotel-booking {
    display: flex;
    
}

.catalog-item-details {
    padding-right: 6px;
}

.rating {
    margin-left: auto;

    padding-left: 538px;
}



.main-footer {
    display: flex;
    padding: 36px 132px;

    /*----Временно для сетки----*/
    min-height: 120px;
}

.main-footer .wrapper {
    display: flex;
}

.footer-contacts {
    width: 400px;
    margin: 0;

    /*----Временно для сетки----*/
    min-height: 120px;
}


.footer-social {
    width: 400px;


    /*----Временно для сетки----*/
    min-height: 120px;
}


.footer-copyright {
    width: 400px;
    margin: 0;
    margin-left: auto;
}





